// 定义一个天蓝色的变量
@bgcolor: skyblue;

// 定义一个粉色的变量
@fontcolor: pink;

// 定义一个字体为14px的变量
@font14: 16px;

 
// 使用这些变量
body {
    background-color: @bgcolor;
}

div {
    color: @fontcolor;
    font-size: @font14 - 2;
}