* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    background-color: #fff;
    padding: 30px;
}

.box h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: #015a96;
    font-family: sans-serif;
}

.box input {
    width: 400px;
    height: 50px;
    padding: 20px;
    user-select: none;
    border-radius: 6px;
    border: 2px solid rgb(13, 152, 245);
    outline: none;
    font-size: 22px;
}

.box input::placeholder {
    font-size: 23px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 50px;
    margin-top: 40px;
    text-align: center;
    background-color: #0c81ee;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    border: 2px solid rgb(20, 139, 250);
    border-radius: 7px;
    cursor: pointer;
}

.btn2 {
    margin-left: 85px;
}

#button:hover {
    background-color: black;
    color: white;
}