body {
    background: url('../img/bg.png');
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    width: 98vw;
    height: 98vh;
}

button {
    background-color: #3ba9f4;
    color: #fff;
    font-size: 20px;
    border-radius: 2px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}